body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
:root{
    --primary: #B38D46;
    --dark:#383F49;
}
::-webkit-scrollbar {
    width: 8px; /* width of the scroll bar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:  #d8d8d8; /* color of the thumb */
    border-radius: 40px;
  }
  .translation{
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 50%;
    overflow: hidden;
    height: 30px;
    width: 40px;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    img{
        width: 100px;
        height: 30px;
    }
  }
  
